
.github {
  position: fixed;
  right: -44px;
  top: -15px;
  width: 130px;
  height: 70px;
  z-index: 9;
  transform: rotate(45deg);
}
.github:after {
  background: #f7f7f7 url(../img/github-logo.png) no-repeat center 82%;
  background-size: 38% auto;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}
.dicson {
  position: fixed;
  left: -44px;
  top: -15px;
  width: 130px;
  height: 70px;
  z-index: 9;
  transform: rotate(-45deg);
}
.dicson:after {
  background: #f7f7f7 url(../img/dicson-logo.jpg) no-repeat center 82%;
  background-size: 38% auto;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.06);
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.27);
  width: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background-color: #1c1c1c;
  color: #fff;
}
body {
  font-family: Arial;
}
input {
  font-family: inherit;
  color: inherit;
}
input:focus {
  outline: none;
}
.usn {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 920px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container-wrap {
  width: 100%;
  padding: 50px 0;
}
i {
  display: block;
  margin: 15px 0px 12px 0;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
  font-size: 25px;
}
@media screen and (min-width: 360px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h1 br { display: none; }
}
.result {
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 30px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  transition: text-shadow 0.1s;
}
.result .text {
  font-size: 6.7vw;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.38em;
}
@media screen and (min-width: 920px) {
  .result .text {
    height: 150px;
    font-size: 1em;
  }
}
.resultField {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -50px;
}
.inputField {
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 650px) {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .inputField {
    min-width: 240px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
}
.inputField h5 {
  font-size: 23px;
  margin-bottom: 10px;
}
.color {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.26);
  align-items: center;
  padding: 0.3em 0.7em;
  border-radius: 9px;
}

.color input {
  background: none;
  padding: 0px;
  border: none;
  font-size: inherit;
}
.color .input {
  width: 4em;
}
.color .picker {
  padding: 0px;
  border: none;
  background: none;
  cursor: pointer;
}
.resultCnt {
  position: relative;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.29);
  padding: 25px;
}
.resultCnt h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  padding-right: 10px;
  clear: both;
  width: 100%;
}
.resultCnt h5 {
  font-size: 23px;
  text-align: center;
  color: #EA0A0A;
}
.resultCnt i {
  margin: 15px 0px 15px 0px;
}
.resultCnt .btn {
  cursor: pointer;
  background-color: #FFC53C;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 11px 70px;
  border-radius: 5px;
  color: #2B2B2B;
  text-shadow: 1px 1px 0px #fff;
  box-shadow: 3px 3px 0px 0px #92690a;
  transition: all 0.25s;
  transform: translate(0px, 0px);
  display: inline-block;
  vertical-align: top;
}
.resultCnt .action {
  text-align: right;
}
.resultCnt .btn:hover {
  background-color: #E8B12D;
}
.resultCnt .btn:active {
  text-shadow: 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #92690a;
  transform: translate(2px, 2px);
}
.scroll {
  max-height: 149px;
  overflow: auto;
}
.copied {
  display: none;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  font-size: 15px;
  padding: 12px 10px;
  text-align: center;
  background-color: #176B29;
  z-index: 10;
  border-radius: 5px;
  max-width: 320px;
  margin: auto;
  animation: copied 0.2s ease-in-out;
}
@keyframes copied {
  0% { opacity: 0;transform: translateY(-200%); }
  100% { opacity: 1;transform: translateY(0%); }
}
.slider {
  width: 150px;
}
footer {
  text-align: center;
  padding-top: 30px;
  color: #585858;
  font-size: 12px;
}
footer a {
  color: #848484;
  text-decoration: none;
}
footer:before {
  content: '';
  display: block;
  height: 1px;
  background-color: #4c4c4c;
  border-top: 1px solid #080808;
  margin-bottom: 15px;
}
